@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  /*
  orange theme
   --headings: #222222;
  --text: #4f4f4f;
  --link: #e48100;
  --linkHover: #f39417; */
  /* pink theme */
  --bodyBg: #dfdfdf;
  --link: #cb0069;
  --linkHover: #33001b;
  --headings: #222222;
  --text: #4f4f4f;
  --footerBg: #222222;
}

* {
  font-family: "Raleway", sans-serif;
}

body {
  background-color: var(--bodyBg);
  color: var(--text);
  padding-right: 100px;
}

html {
  scroll-behavior: smooth;
}

p,
button,
.btn,
span,
a,
li {
  font-size: 1.2em;
}

a {
  color: var(--link);
  transition: 0.3s ease-in-out;
}

a:hover {
  color: var(--linkHover);
}

a,
a:hover {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--headings);
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

i {
  color: var(--link);
}

p {
  color: var(--text);
}

/* HEADER AND NAV */

header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100px;
  height: 100%;
  border-left: 1px solid #c9c9c9;
  transition: .3s ease-in-out;
  background-color: var(--bodyBg);
}

nav > ul > li > a {
  font-weight: 700;
  color: var(--text);
  font-size: .75em;
  transform: .3s ease-in-out;
}

nav > ul > li > a:hover {
  color: var(--link);
}

/* BOOTSTRAP OVERRIDES */
.bg-dark {
  background-color: #222222;
}

.btn {
  border-radius: 0;
  padding: 10px 25px;
}

.btn-primary {
    background-color: var(--link);
    border: none;
    background: -moz-linear-gradient(-45deg, #ff0084 0%, #33001b 100%);
    background: -webkit-linear-gradient(
-45deg
, #ff0084 0%,#33001b 100%);
    background: linear-gradient(
135deg
, #ff0084 0%,#33001b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0084', endColorstr='#33001b',GradientType=1 );
    transition: background-image .3s ease-in-out;
    transition: 0.5s all;
    background-position: 50%;
    background-size: 200% 200%;
    background-repeat: no-repeat;
}

.btn-outline-primary, .btn-outline-primary:hover {
  color: var(--link);
  border-color: var(--link);
  background: var(--bodyBg);
}

.btn-primary:hover {
  background-color: var(--link);
  background: -moz-linear-gradient(-45deg, #ff0084 0%, #33001b 100%);
  background: -webkit-linear-gradient(
-45deg
, #ff0084 0%,#33001b 100%);
  background: linear-gradient(
135deg
, #ff0084 0%,#33001b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0084', endColorstr='#33001b',GradientType=1 );
  transition: background-image .3s ease-in-out;
  transition: 0.5s all;
  background-size: 200% 200%;
  background-repeat: no-repeat;
  background-position: 0%;
}

.btn:focus, .btn:active, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-primary:focus, .btn-primary:active {
    box-shadow: 0 0 0 0.25rem rgb(199 0 103 / 30%);
}

.btn-outline-primary:focus, .btn-outline-primary:active {
  color: var(--link);
  border-color: var(--link);
  background-color: var(--bodyBg);
}
.container-fluid {
  padding-right: 100px;
}

.img-thumbnail {
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 0;
  max-width: 100%;
  object-fit: cover;
  height: 300px;
}

.lead {
  font-size: 1.75em;
  font-weight: 700;
}

/* FOTORAMA OVERRIDES */
.fotorama__wrap {
  margin-left: auto;
  margin-right: auto;
}

/* CUSTOM ELEMENTS */
.bg-opacity-8 {
  background-color: rgb(223 223 223 / 80%);
}

.bg-opacity-3 {
  background-color: rgb(223 223 223 / 30%);
}

.container-900 {
  max-width: 900px;
}

.divider {
  height: 5px;
  width: 300px;
  max-width: 100%;
  background-color: var(--headings);
  margin-top: 15px;
  margin-bottom: 35px;
}

.icon-lg {
  font-size: 44px;
}

.icon-md {
  font-size: 32px;
}

.icon-muted {
  color: var(--text);
  transition: .3s ease-in-out;
}

.icon-muted:hover {
  color: var(--link);
}


.intro {
  min-height: 100vh;
  /* max-height: 100vh; */
}

.intro-img {
  max-height: 1000px;
width: auto!important;
max-width: calc(100vw - 100px);
object-fit: cover;
}

.testimonial-img {
  max-width: 115px;
}

/* UNIQUE ELEMENTS */


#openMobileMenu {
  position: fixed;
  top: 5px;
  right: 5px;
  font-size: 3em;
  cursor: pointer;
  transition: .3s ease-in-out;
}

#intro-title {
  font-size: 5em;
}

.shiftedMobileMenu {
  right: 105px!important;
}



/* FOOTER */
footer {
  background-color: #222222;
}

@media all and (min-width: 992px) {
    .text-lg-right {
        text-align: right!important;
    }
    .img-thumbnail-lg {
      height: 450px;
    }
    
}

@media all and (max-width: 776px) {
  .intro {
    height: auto;
    width: auto;
    min-height: unset;
    max-height: unset;

  }

  .intro-img {
    max-width: 100%;
    height: auto!important;
  }

  /* #intro-text {
    margin-top: -50%;
  } */
}

@media all and (max-width: 1200px) {
  #cv-image {
    height: 50vh!important;
  }

}